.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #464980;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.active {
  color: #464980;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #464980;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    text-decoration: none;
    align-items: center;
  }

  .NavigationItem a {
    color: #f9eee2;
    height: 100%;
    padding: 16px 10px;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    color: #281c2c;
    text-decoration: none;
  }

  .active {
    color: #464980;
  }
}
