.HeroImage {
  height: 60vh;
  width: 100vw;
  /* display: flex;
  flex: 1;
  box-sizing: border-box; */
  background-color: var(--black);
  z-index: 0;
}

.HeroImage img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
  position: relative;
}
